@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

h1 {
    text-transform: uppercase;
}

h1, p {
    font-family: 'Libre Baskerville';
    color: white;
    text-align: center;
}

body {
    background-color: black;
}

img {
    width: 100%;
    border: 5px solid white;
}

div {
    width: 50%;
    margin: 10% 25%;
}